<div class="clearfix">
    <app-square *ngFor="let cell of cells | slice: 0: 3; let i = index"
                [value]="cell"
                (userClick)=clickHandler(i)></app-square><br>
</div>

<div class="clearfix">
    <app-square *ngFor="let cell of cells | slice: 3: 6; let i = index"
                [value]="cell"
                (userClick)=clickHandler(i+3)></app-square><br>
</div>
<div class="clearfix">
    <app-square *ngFor="let cell of cells | slice: 6; let i = index"
                [value]="cell"
                (userClick)=clickHandler(i+6)></app-square><br>
</div>
<button (click)="reset()">Reset</button>
<div *ngIf="winner">
    winner is {{winner}}
</div>
